@font-face {
  font-family: norse-bold;
  src: url(./font/norse-bold.otf);
}

h1{
  text-align: center;
  position:absolute;
  top: 150px;
  color: blue;
  background-color: aliceblue;
  opacity: 0.5;
  width: 405px;  
  font-family: norse-bold, sans-serif;
  height: 10%;
  font-size: 300%;
}

.container{
  display: flex;
  gap: 10px;
}

img{
  width: 500px;
  height: 100vh;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  background-color: #596D48;
  border-radius: 8px;
  height: 30px;
  width: 150px;
}

.data {
  display: flex;
  gap: 100px;
}

.field {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: transparent;
}

p {
  padding-left: 14px;
}

.upper-text {
  font-size: larger;
  font-weight: bold;
}

span {
  font-style: italic;
}

input {
  border: 1px solid #E5E7EB;
  border-radius: 2px;
}

input[type="password"]:invalid {
  border-color: red;
}

input[type="password"]:placeholder-shown:invalid{
  border-color: #E5E7EB;
}

input:focus{
  outline: none;
  border-color: blue;
  box-shadow: 2px 2px gainsboro;
}